.createmodal {
    border-radius: 7px;
}

.modal-modal-title {
    padding: 6px;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description p {
    padding: 12px 6px;
}

.createmodalinput {
    width: 380px;
    margin: 0 auto;
    padding-left: 6px;
    height: 25px;
    border: solid 1px #4d575e;
    border-radius: 5px;
    outline: none;
}

.createbutton {
    width: 390px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}